<table>
    <tr>
        <td>Department ID</td>
        <td>Department Name</td>
    </tr>
    <tr>
        <td><%= @department.department_id %></td>
        <td><%= @department.dname %></td>
    </tr>
</table>

<table>
    <tr>
        <td>Programme Code</td>
        <td>Programme Name</td>
    </tr>
    <% @department.programmes.each do |p| %>
    <tr>
        <td><%= p.code %></td>
        <td><%= p.pname %></td>
    </tr>
    <% end %>
</table>